<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-12">{{input type="text" class="form-control"}}</div><br><br><br>
    </div>
     <div class="row">
    <div class="col-sm-4" style="background-color:lavender;">
    <label class="radio-inline">{{input type="radio" name="optradio"}}Employee Id</label></div>
    <div class="col-sm-4" style="background-color:lavenderblush;">
    <label class="radio-inline">{{input type="radio" name="optradio"}}Reg_id
    </label></div>
    <div class="col-sm-4" style="background-color:lavender;">
    <label class="radio-inline">{{input type="radio" name="optradio"}}Department</label></div>
  </div>


    <br>
     <div class="col-sm-12 col-lg-12"><button type="button" class="btn btn-primary btn-lg btn-block">Submit</button></div>
  </div>

{{yield}}
